.mibox {
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.medidas {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

.ej96texto {
    margin-top: 8px;
    margin-bottom: 8px;
}
.ej96anunci {
    margin-bottom: 10px;
} 
.ej12text {
    font-weight: bold;
    color: blue;
    font-size: 22px;
}