body {
    padding: 50px;
    background-color: beige;
}

h1 {
    color: brown;
}

h1.fnt-red {
    color: red;
}
    
.fnt-blue {
    color: blue;
}
    
#nombre_alumno {
    color: red;
    text-decoration: underline;
}

.titulo {
    color: rgb(124, 185, 212);
    font-size: 30px;
    font-style: italic;
}

.texto {
    color: darkblue;
    font-size: 15px;
}

.destacado {
    font-style: italic;
    font-weight: bold;
}

#base {
    background-color: rgb(187, 187, 187);
    width: 520px;
    margin: auto;
    padding: 8px;
    text-align: center;
    border-radius: 3px;

}

.anuncio {
    background-color: white;
    margin: auto;
    padding: 8px;
    width: 150px;
    text-align: left;
    display: inline-block;
    border-radius: 3px;
}

.bicicletas {
    font-size: 13px;
    color: gray;
}

.fotobici {
    width: 150px;
    height: 175px;
    border-radius: 3px;
}

.infobici {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
}

#a4btop {
    background-color: blue;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    line-height: 40px;
    z-index: 10;
}

#a4bbot {
    background-color: red;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
    line-height: 40px;
    z-index: 10;
}

#a4bcuadro {
    background-color: darkred;
    width: 250px;
    height: 200px;
    position: relative;
    color: white;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    line-height: 200px;
}

.a4bbola {
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 90px;
    border: solid darkred 5px;
    position: absolute;
    
}
#a4btext {

    position: relative;
    text-align: center;
    width: 250px;
    height: 200px;
    top: -50px;
    left: -50px;

}
#a4bex2 {
    text-align: center;
    margin-top: 100px;
}
#a4bex3 {
    text-align: center;
    margin-top: 200px;
}
#a4bblanc {
    text-align: center;
    width: 250px;
    height: 200px;
    background-color: white;
    position: relative;
    display: inline-block;
    border-radius: 20px;
}
#a4bblau {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 125px;
    height: 200px;
    background-color: rgb(38, 241, 255);
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#a4blorem {
    z-index: inherit;
    text-align: center;
    position: absolute;
    top: 20px;
}